*{
    outline: 1px solid red !important;
}


body{
    margin: 0px;
}


.Headertext {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    margin-right: auto;
    margin-left: 200px;
    padding: 20px;
    align-self: center;
}


.Header {
    background-color: #1f2937;
    display: flex;
}

ul {
    list-style-type: none;
    
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.box1 {

}

.box1head {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}
.box1text {
    color: #f9faf8;
}


.Links {
    display: flex;
    margin-left: auto;
    margin-right: 200px;
    gap: 20px;
    padding: 20px;
}

.content {
    display: flex;
    background-color: #1f2937;
}
.container1 {
    display: flex;
 
    justify-content: space-around;
}