*{
   /* outline: 1px solid red !important; */
}


body{
    margin: 0px;
}


.Headertext {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
    display: flex;
    margin-right: auto;
    padding: 20px;
    align-self: center;
}


.Header {
    background-color: #1f2937;
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 10px;
}

ul {
    list-style-type: none;
    
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.box1 {
    max-width: 348px;
    padding-right: 40px;

    
}

.box1head {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    justify-content: start;
}
.box1text {
    color: #f9faf8;
    padding-bottom: 10px;
}

.signup {
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    width: 75px;
    height: 30px;
}

.Links {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: end;
}

.content {
    display: flex;
    flex-direction: column;
    
}
.container1 {
    background-color: #1f2937;
    display: flex;
    padding: 100px;
    justify-content: center;
}

.box2-1 {
    background-color: white;
    color: #1f2937;
    font-size: 32px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

.box2-2 {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;

}
.cardbox {
    width: 100px;
    height: 100px;
    border: 3px solid #3882f6;
    border-radius: 12px;
}
.cardtext {
    justify-self: center;
    padding-top: 5px;
    text-align: center;
    
}